<!--<p>math works!</p>-->

<!--Using String Interpolation, render the sum in math.component.html-->
<!--Render the difference in math.component.html by using String Interpolation-->
<!--<h3>{{this.num1}} + {{this.num2}} = {{addNumbers(50,2)}}</h3>-->
<!--&lt;!&ndash;Render the product in math.component.html by using String Interpolation&ndash;&gt;-->
<!--{{}}-->

<!--Render the quotient in math.component.html by using String Interpolation-->


<h1>{{addNumbers(10,5)}}</h1>

<h2>{{subtract(50,30)}}</h2>

<h3>{{multiply(5,5)}}</h3>

<h4>{{divide(35,5)}}</h4>
