<p>vip works!</p>

<!--<h1>{{members.firstName}} {{members.lastName}}</h1>-->
<!--<h3>{{members.username}}</h3>-->
<!--<h2>{{members[0].memberNo}}</h2>-->


<!--//  STRING INTERPOLATION   -->

<!--<ul ngIf="loadingMembers">-->
<!--  <li *ngFor="let member of members">-->
<!--    <h2>{{ member.firstName}} {{member.lastName}}</h2>-->
<!--&lt;!&ndash;    <ul *ngIf="displayInfo">&ndash;&gt;-->
<!--      <p>username: {{member.username}}</p>-->
<!--      <p>memberNo: {{member.memberNo}}</p>-->

<!--&lt;!&ndash;    </ul>&ndash;&gt;-->
<!--  </li>-->

<!--</ul>-->


<!--<p></p>-->

<!--<p *ngIf="members.length >1">{{members.length}}Members Found in VIP</p>-->

<!--<p *ngIf="members.length ===1">Only{{members.length}}Members Found in VIP</p>-->


<!--<ul>-->
<!--  &lt;!&ndash;<ul *ngIf="users.length > 4">  </ul>&ndash;&gt;-->
<!--  <li *ngFor="let user of users">-->
<!--    <h3>{{ user.firstName }} {{ user.lastName}}</h3>-->
<!--    <ul *ngIf="displayInfo">  //! not display info-->
<!--      <li> Age: {{ user.age }}</li>-->
<!--      <li>Address: {{ user.address.street}}, {{ user.address.city}}, {{ user.address.state }}</li>-->
<!--    </ul>-->
<!--  </li>-->
<!--</ul>-->
