<!--<p>users works!</p>-->
<h1>Users</h1>

<!-- STRUCTURAL DIRECTIVES
ngIf = creates conditionals in our template(s)
// ! will not display info only names/ or === false at the end
ngFor = used to loop through an array
* ADDING LOGIC INTO OUR TEMPLATE
**  EVERY STRUCTURAL DIRECTIVE NEEDS TO HAVE THE ASTERISK (*)
-->

<!--<h3>{{ users[0].firstName}}</h3>-->
<!--<h3>{{ users[1].firstName}}</h3>-->

<!--<h3>{{users}}</h3>-->
<!--<ul *ngIf="users.length >4 -->

<!--<h2 [ngStyle]="currentStyle" >{{user.firstName}} {{user.lastName}}
 <small *ngIf="user.age && user.address"><button (click)="toggleHide(user)"
 class="btn btn-dark btn-sm"><i [ngClass]="user.hide ? 'fa fa-plus': 'fa fa-minus'"></i>hide or show</button></small> </h2>-->

<!--      CLASS BINDING-->

<!--<button [disabled]="!enableAddUser"class="btn btn-light btn-block mb-3">Add New User</button>-->
<button (click)="showUserForm = !showUserForm" class="btn btn-dark mb-3">Add User</button>

//beginning OF LIST OF USER

<div class="card card-body mb-3" *ngIf="showUserForm">
  <h2>Add User</h2>
  <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
    <div class="form-group">
      <label>First Name</label>
      <input
        type="text"
        [(ngModel)]="user.firstName"
        class="form-control is-invalid" name="firstName"
        #userFirstName="ngModel"
        required
        minlength="2"
      >
      <div [hidden]="!userFirstName.errors?.required" class="invalid-feedback">First Name Required</div>
    </div>

    <div class="form-group">
      <label>Last Name</label>
      <input type="text"  [(ngModel)]="user.lastName" class="form-control" name="lastName">
    </div>

    <div class="form-group">
      <label>Age</label>
      <input type="text" [(ngModel)]="user.age" class="form-control" name="age">
    </div>


    <div class="form-group">
      <label>Email</label>
      <input
        type="email" [(ngModel)]="user.email"
        [ngClass]="{'is-invalid' :userEmail.errors && userEmail.touched}"
        class="form-control"
        name="Email"
      #userEmail="ngModel"
        required
        pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?">

      <div [hidden]="!userEmail.errors?.required" class="invalid-feedback">
        Email name required
      </div>
      <div [hidden]="!userEmail.errors?.pattern" class ="invalid-feedback">
        Email is not valid!!
      </div>
    </div>


<!--    <button class="btn btn-dark mb-3" (click)="addUser(user)">Submit</button>-->

    <button [disabled]="!userForm.form.valid" class="btn btn-block mb-3">Add New User</button>

  </form>
</div>





<div>
<ul class="list-unstyled" *ngIf=" users.length > 0">
  <li class="card card-body mb-2" *ngFor="let user of users" [class.bg-danger]="user.isActive">
    <div class="row">
      <div class="col-sm-4">
<!--   BIND OUR IMAGE PROPERTY     -->
        <img class="img-fluid" [src]="user.image" alt="">

<!--    OTHER WAYS BINDING OUR IMAGE  / property binding  -->
<!--        <img class="img-fluid" src="{{ user.image }}" alt="">-->

<!--        <img class="img-fluid" bind-src="user.image" alt="">-->


      </div>
      <div class="col-sm-8">
<!--        <h2>{{user.firstName}} {{user.lastName}}</h2>-->
<!--        <ul>-->
        <h2 [ngStyle]="currentStyle" >{{user.firstName}} {{user.lastName}}<button
        (click)="toggleHide(user)" class="btn btn-dark btn-sm"><i [ngClass]="user.hide ? 'fa fa-plus': 'fa fa-minus'"></i>hide or show</button></h2>
        <ul *ngIf="user.age && user.email">
          <li>Age: {{ user.age }}</li>
          <li>Email: {{ user.email}}</li>
        </ul>
      </div>
    </div>
  </li>
</ul>
<h3 *ngIf="users.length === 0">No Users Found</h3>
<!--<h3 *ngIf="!loading">Loading Users...</h3>-->
</div>







<!--[class.bg-danger]="user.isActive"-->


<!--<ul>-->
<!--  <li *ngFor="let user of users">-->
<!--    <h3>{{ user.firstName}} {{user.lastName}}</h3>-->
<!--    <ul *ngIf="displayInfo">-->
<!--      <li>Age: {{user.age}}</li>-->
<!--      <li>Address: {{user.address.street}}, {{user.address.state}}</li>-->
<!--    </ul>-->
<!--  </li>-->
<!--</ul>-->

<!--&lt;!&ndash; ANOTHER EXAMPLE OF nfIf&ndash;&gt;-->
<!--<h3 *ngIf="users.length === 0">No Users Found</h3>-->
