<!--<p>home works!</p>-->
<h1>Welcome</h1>
<p>This is the Angular Home Page</p>

<button class="btn btn-dark" routerLink="/users">Users Lesson</button>
<button class="btn btn-dark" routerLink="/posts">Posts Lesson</button>
<button class="btn btn-dark" routerLink="/travel">Travel Lesson</button>
<button class="btn btn-dark" routerLink="/vip">Vip Lesson</button>
