<!--<p>material-style works!</p>-->

<button mat-button>MatButton</button>
<button mat-raised-button>Raised Button</button>
<h1>Typography examples</h1>

<div class="mat-display-1">This is a display 1</div>
<div class="mat-display-2">This is a display 2</div>
<div class="mat-display-3">This is a display 3</div>
<div class="mat-display-4">This is a display 4</div>

<h1>Body and text caption</h1>
<div class="mat-headline">This is a headline</div>
<div class="mat-title">This is a title</div>
<div class="mat-subheading-1">This is a subheading</div>
<div class="mat-caption">This is a caption</div>


<h1>Color themed button</h1>

<div>
  <button color="primary" mat-button>Primary color button</button>
  <button color="accent" mat-button>Accent color button</button>
  <button color="warn" mat-button>Warm color button</button>

</div>

<div>
  <button color="primary" mat-flat-button>Primary color button</button>
  <button color="accent" mat-raised-button>Accent color button</button>
  <button color="warn" mat-button>Warm color button</button>

</div>

//create a form
<mat-form-field floatLabel="always" color="accent">
  <mat-label>Name</mat-label>
  <input matInput>
  <mat-hint>Min 5 characters</mat-hint>

</mat-form-field>


<mat-card>Simple card</mat-card>


<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>









<!--<p>-->
<!--  Default appearance:-->
<!--  <mat-button-toggle-group name="fontStyle" aria-label="Font Style">-->
<!--    <mat-button-toggle value="bold">Bold</mat-button-toggle>-->
<!--    <mat-button-toggle value="italic">Italic</mat-button-toggle>-->
<!--    <mat-button-toggle value="underline">Underline</mat-button-toggle>-->
<!--  </mat-button-toggle-group>-->
<!--</p>-->

<!--<p>-->
<!--  Legacy appearance:-->
<!--  <mat-button-toggle-group appearance="legacy" name="fontStyle" aria-label="Font Style">-->
<!--    <mat-button-toggle value="bold">Bold</mat-button-toggle>-->
<!--    <mat-button-toggle value="italic">Italic</mat-button-toggle>-->
<!--    <mat-button-toggle value="underline">Underline</mat-button-toggle>-->
<!--  </mat-button-toggle-group>-->
<!--</p>-->
