<!--<p>posts works!</p>-->
<app-post-form [currentPost]="currentPost" [isEdit] = "isEdit" (newPost)="onNewPost($event)" (updatedPost)="onUpdatePost($event)"></app-post-form>
<!--   OUTPUTS = SIGNIFIED BY ()
        INPUTS =  SIGNIFIED BY []-->

<h3>Posts</h3>
<div class="card" *ngFor="let post of posts">
  <div class="card-body">
    <h3>{{ post.title }}</h3>
    <p>{{ post.body}}</p>
    <hr>

<!--  DELETE BUTTON  -->
    <button (click)="deletePost(post)" class="btn btn-danger"><i class="fa fa-remove"></i></button>
<!--  EDIT BUTTON  -->
    <button (click)="editPost(post)" class="btn btn-light"><i class="fa fa-pencil"></i></button>
  </div>

</div>
